/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */

/* HEADER */

body{
    font-family: 'Source Sans Pro', sans-serif;
}
#menu-bar{
    width: 10%;
    display: inline-block;
    float: right;
}
#menu-bar i:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
#menu-bar i{
    font-size: 40px;
    padding: 15px;
}
#main-header img{
    padding: 10px;
}
#space-div{
    width: 68%;
    display: inline-block;
}
#logo-div{
    width: 20%;
    display: inline-block;
}

/* PRODUCT BAR */
#product-div{
    width: 35%;
    padding: 30px;
}
#product-details{
    width: 55%;
    padding: 12px;
}
#main-product{
    display: flex;
    justify-content: center;
}
#product-details h1{
    font-size: 35px;
    margin-bottom: 5px;
}
#product-details p{
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 25px;
}
#product-details hr{
    margin-top: 35px;
    margin-bottom: 35px;
}
#product-details span{
    text-decoration: line-through;
}
#product-details article{
    font-size: 20px;
    color: #c57b6a;
    margin-left: 172px;
}
#product-details button{
    background-color: #f2849e;
    color: white;
    margin-top: 50px;
    padding: 20px;
    border:none;
    width: 400px;
}
#product-details button:hover{
    background-color:#ed4b74;
    cursor:pointer;
}
/* ARTICLE */


#book-article{
    width: 90%;
    margin-left: 5%;
    text-align: justify;
}
#book-article p{
    font-size: 15px;
    margin-bottom: 0px;
}
#book-article a{
    margin-top: 0px;
    text-decoration: none;
}
#book-article article{
    font-size: 13px;
}
#book-article h3{
    margin-bottom: 0px;
}
hr{
    color: #ebebeb;
}